*.pyc
./test_model/*
./build
./dist/tools/*
./tools_logs/*
./log.out
./log.log
./res.txt
./dist
./bad_data
./log.log

/*.lab
*.out
*.c
*.pyd
/temp
/*.txt

/.idea

/tools/encrypting.old

/*.dat
/libiomp5md.dll
/tmp_models
venv
*.log
*.log.*
logs
dist
src
raspoznavatel.egg-info
*.7z
*.egg-info